<footer class="trademark pixelify-sans">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footerStyle.css">
    <span id="trademark-timer" class="press-start" style="color: white; margin-top: -20px;"><%= title == "Quizzd: Start" ? '' : "A CSS 355 Project"%></span>
</footer>