<header class="header">
    <div class="header-left">
        <a href="/">
            <img src="./images/logo.png" href="/" width="125px" height="75%">
        </a>
    </div>
    <div class="header-right">
        <button id="settings">Settings</button>
        <a href="https://github.com/the355axolotl/Quizzed/tree/main" target="_blank"> <button id="credits">Credits</button></a>
        <form id="user-profile-form" method = "GET" action="/play-history">
            <button id="user-profile" type="submit"> User Profile </button>
        </form>
    </div>
</header>

