<header class="header">
    <div class="header-left">
        <img src="./images/logo.png" width="150px" height="85%">
    </div>
    <div class="header-right">
        <a href="https://github.com/the355axolotl/Quizzed/tree/main" target="_blank"> <button id="credits">Credits</button></a>
    </div>
</header>

