<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel = 'stylesheet' href="/stylesheets/results.css">
    <title>Results</title>
</head>
<body>
    <%-include("./header.ejs")%>
    <h1>test</h1>

    <%-include("./background.ejs")%>

    <div class="box">
        <div class="white-text font-big">
            <h1 class="pixelify-sans">Results</h1>
        </div>
        <div class="boxbg">
            <div class="score">
                <h1 class="pixelify-sans white-text font-big">Score</h1>
                <div class="number white-text font-big">
                    <!-- Injection code here -->
                </div>
            </div>

            <div class="buttons">
                <form action="/replay">
                    <button class="btn pixelify-sans">Replay</button>
                </form>

                <form action="/home">
                    <button class = "btn pixelify-sans">Home</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>