<header class="header">
    <div class="header-left">
        <img src="./images/logo.png" width="125px" height="75%">
    </div>
    <div class="header-right">
        <button id="settings" hidden>Settings</button>
        <a href="https://github.com/the355axolotl/Quizzed/tree/main" target="_blank"> <button id="credits">Credits</button></a>
    </div>
</header>