/* Text Color */
.white-text{
    color: rgb(255, 255, 255);
}
.font-big h1{
    font-size: 1.5m;
}

/* Black magic height */
.results-frame {
    width: 100%;
    height: calc(95vh - 65px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  

/* Boxes */
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.boxbg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid;
    padding: 5vh;
    border-color: rgb(255, 255, 255) ;
}

/* Have to make it visible again because using 2 style sheets */
.btn {
    visibility: visible;
}

/* may have to adjust padding later */
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 7px;
    padding-bottom: 7px;

}
