/* Text Color */
.white-text{
    color: rgb(255, 255, 255);
}
.font-big{
    font-size: 25pt;
}

/* Boxes */
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxbg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid;
    padding: 5vh;
    border-color: rgb(255, 255, 255) ;
}

/* may have to adjust later */
.score{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
