/* Text Color */
.white-text{
    color: rgb(255, 255, 255);
}
.font-big h1{
    font-size: 50pt;
}

/* Black magic height */
.results-frame {
    width: 100%;
    height: calc(95vh - 65px);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

/* Boxes */
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxbg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid;
    padding: 5vh;
    border-color: rgb(255, 255, 255) ;
}

/* may have to adjust padding later */
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 7px;
    padding-bottom: 7px;

}
