/* FONTS (apparently have to be placed at the very top to work) */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Pixelify+Sans:wght@400..700&display=swap');
@font-face {
  font-family: "Press Start";
  src: url(../fonts/PressStart2P-vaV7.ttf);
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* MISC */
*{ margin: 0; padding: 0; }

body, .background {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}


/* ANIMATIONS */
@keyframes move-twinkle-back {
  from {background-position: 0 0;}
  to { background-position: -10000px 5000px;}
}

@keyframes drop {
  0% {
      transform: translateY(-200px);
      opacity: 0;
  }
  50% {
      transform: translateY(0px);
      opacity: 1;
  }
  65% {
      transform: translateY(-17px);
      opacity: 1;
  }
  75% {
      transform: translateY(-22px);
      opacity: 1;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes delay-btn-show {
  from {opacity: 0;}
  to {opacity: 1;}
}



/* STAR BACKGROUND CSS */
.twinkling, .stars, .stars > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.twinkling {
  background: transparent url(../images/twinkling.png) repeat top center;
  background-size: 5%; 
  z-index: -1;

  animation: move-twinkle-back 200s linear infinite;
}

.stars {
  background: #000 url(../images/stars.png) repeat top center;
  z-index: -2;
  transform: scale(1.5, 1.5);
}
.stars:first-child{
  position: absolute;
  background: #000 url(../images/stars2.png) repeat top center;
  transform: scale(.85, .85);
  z-index: -3;
}
.stars:last-child{
  position: absolute;
  background: #000 url(../images/stars3.png) repeat top center;
  transform: scale(1.2, 1.2);
  z-index: -4;
}


/* HEADER */
header {
  width: 100%;
  height: 65px;
  padding: 0 15px 0 10px;
  box-sizing: border-box;
  position: sticky;

  /* background-color: rgba(255, 255, 255, 0.4); */
  border-bottom: #FFF 4px dashed;

  font-size: 1.25em;
  color: white;

  display: flex;
}

header > * {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
}
.header-left { justify-content: flex-start; flex: .5;}
.header-right { justify-content: flex-end; gap: 40px; flex: 1;}

#credits{
  background-color: transparent;
  border: transparent;

  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.25em;
  color: rgb(255, 255, 255);

}

#credits:hover {
  background-color: #0000ff;
}


/* MAIN BODY */
.main-body {
  width: 100%;
  height: 100%;
  position: fixed;
}

/* START */
.home-frame {
  width: 100%;
  height: calc(100vh - 65px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-wrapper {
  width: 50%;
  min-width: 400px;
  height: 15%;
  min-height: 125px;
}

.title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  font-size: 4em;
  gap: 5px;

  text-shadow: 
    #03ffff 1px 3px,
    #ff00ff -1px -3px;

  user-select: none;
}

.title-main > * { opacity: 0; }

.q { animation: drop .3s ease-in forwards; }
.u { animation: drop .3s ease-in forwards .1s; }
.i { animation: drop .3s ease-in forwards .2s; }
.z { animation: drop .3s ease-in forwards .3s; }
.z2 { animation: drop .3s ease-in forwards .4s; }
.d { animation: drop .3s ease-in forwards .5s; }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn {
  background-color: #0000ff;
  border: 5px solid white;
  color: white;
  font-size: 1.5em;
  padding: 10px;

  opacity: 0;
  visibility: hidden;
  animation: delay-btn-show .025s ease-in forwards 1s;
}

.btn:hover, #instructions-cancel:hover{
  background-color: #ffffff;
  color: black;
  border: 5px solid #0000ff;
}

/* INSTRUCTIONS FRAME */
.instructions-frame {
  width: 100%;
  /* PLS DONT TOUCH THE FOLLOWING: */
  visibility: hidden;
  height: calc(100vh - 65px);
  top: 65px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* opacity: .5; */
}

.instructions-wrapper {
  width: 45%;
  min-width: 325px;
  height: 45%;
  min-height: 400px;

  border: #FFF 8px solid;
  box-sizing: border-box;
  padding: 15px;
  gap: 15px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#instructions-cancel {
  width: 125px;
  height: 55px;
  padding: 10px;

  background-color: #0000ff;
  border: 5px solid white;
  color: white;
  font-size: .65em;
}