<footer class="trademark pixelify-sans">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footerStyle.css">
    <span style="color: white; margin-top: -20px;">A CS 355 Project</span>
</footer>